/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  box-sizing: border-box;
}

body{
  margin: auto;
  padding: auto;
  font-family: sans-serif;
  background-color: #303030;
  color: #f1f1f1;
}

.bg{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

#triangle1{
 display : inline-block;
 height : 0;
 width : 0;
 border-bottom : 800px solid rgba(213, 213, 213, 0.5);
 border-left : 800px solid transparent;
 margin-right: 100px;
}

#triangle2{
 display : inline-block;
 height : 0;
 width : 0;
 border-top : 800px solid rgba(213, 213, 213, 0.5);
 border-right: 800px solid transparent;
 /* margin-left: 10px; */
}

header{
  display: flex;
  text-align: center;
}

.left_banner, .right_banner{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.logo{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items:center;
}

#triangle3{
 display : inline-block;
 height : 0;
 width : 0;
 border-bottom : 50px solid #f1f1f1;
 border-left : 50px solid transparent;
 margin-right: 5px;
}

#triangle4{
 display : inline-block;
 height : 0;
 width : 0;
 border-top : 50px solid #f1f1f1;
 border-right: 50px solid transparent;
 margin-left: 5px;
}

#title{
  margin-top: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 3vw;
  text-transform: uppercase;
  font-family: 'Alfa Slab One';
}

#img-div{
  width: 60%;
  background-color: #f1f1f1;
  color: #333;
}

#image{
  display: block;
  width: 90%;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}

h2{
  margin: 20px 10px;
  font-size: 2.5vw;
}
